{{ if (and (eq .chezmoi.os "linux") .autoSetup) -}}
#!/usr/bin/env bash

{{ if eq .chezmoi.osRelease.id "arch" }}
sudo pacman -Syu

{{ if (or (eq .hosttype "desktop") (eq .hosttype "laptop")) }}
{{ range .arch-pkgs.desktop }}
sudo pacman -S --noconfirm --needed {{ . | quote }}
{{ end }}
{{ end }}

{{ if eq .hosttype "laptop" }}
{{ range .arch-pkgs.laptop }}
sudo pacman -S --noconfirm --needed {{ . | quote }}
{{ end }}
{{ end }}

{{ end }}
{{- end }}
