{{- if (and (eq .chezmoi.os "linux") (.autoSetup)) -}}
#!/usr/bin/env bash

{{- if eq .chezmoi.osRelease.id "arch" -}}
matugen image "$HOME/themes/wallpapers/gruvbox-nostalgic-field.jpeg"
{{- end -}}
{{- end -}}
