README.md
.config/*
.local/state/*

!.config/nvim
!.config/starship
!.config/tmux

{{ if lookPath "aerc" }}
!.config/aerc
{{ end }}

{{ if lookPath "cava" }}
!.config/cava
{{ end }}

{{ if lookPath "cliphist" }}
!.config/cliphist
{{ end }}

{{ if lookPath "foot" }}
!.config/foot
{{ end }}

{{ if lookPath "fuzzel" }}
!.config/fuzzel
{{ end }}

{{ if lookPath "imv" }}
!.config/imv
{{ end }}

{{ if lookPath "khal" }}
!.config/khal
!.local/share/khal
{{ end }}

{{ if lookPath "mako" }}
!.config/mako
{{ end }}

{{ if lookPath "mpd" }}
!.config/rmpc
!.config/mpd
!.local/state/mpd
{{ end }}

{{ if lookPath "mpv" }}
!.config/mpv
{{ end }}

{{ if lookPath "niri" }}
!.config/niri
{{ end }}

{{ if lookPath "qt6ct" }}
!.config/qt6ct
{{ end }}

{{ if lookPath "swayidle" }}
!.config/swayidle
{{ end }}

{{ if lookPath "swaylock" }}
!.config/swaylock
{{ end }}

{{ if lookPath "swaync" }}
!.config/swaync
{{ end }}

{{ if lookPath "waybar" }}
!.config/waybar
{{ end }}

{{ if lookPath "thunar" }}
!.config/xfce4
{{ end }}

{{ if lookPath "yazi" }}
!.config/yazi
{{ end }}

{{ if lookPath "zathura" }}
!.config/zathura
{{ end }}
