{{- $choices := list "desktop" "laptop" -}}
{{- $hosttype := promptChoiceOnce . "hosttype" "Set your host type" $choices -}}
{{- $name := promptStringOnce . "name" "Set your name" -}}
{{- $email := promptStringOnce . "email" "Set your email address" -}}
{{- $autoSetup := promptBoolOnce . "autoSetup" "Install and setup packages automatically?" -}}

color: "auto"

merge:
  command: nvim
  args:
    - "-d"

data:
  hosttype: {{ $hosttype | quote }}
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  autoSetup: {{ $autoSetup }}
