@import url("colors/catppuccin-macchiato-teal.css");

* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    border-radius: 0;
    min-height: 0;
    animation-duration: 3.0s;
}

window#waybar {
    background-color: @background;
    border-bottom: 2px solid @outline;
    color: @on-surface;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background-color: @background;
    color: @on-surface;
    border: 2px solid @outline;
    margin: 5px;
    padding: 2px 2px;
}

#sys,
#custom-swaync {
    background-color: @primary;
    color: @on-primary;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
    min-width: 15px;
}
#sys:hover,
#custom-swaync:hover {
    background-color: @on-primary;
    color: @primary;
}

#workspaces {
    background-color: @surface;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
}

#workspaces button {
    color: @on-surface;
    padding: 0 2px; 
    margin: 5px 4px;    
}

#workspaces button:hover {
    color: @surface;
    border-radius: 100px;
}

#workspaces button.focused {
    background-color: @primary;
    color: @on-primary;
    padding: 0 2px; 
    margin: 5px 4px;    
    border-radius: 100px;
}

#workspaces button.focused:hover {
    background-color: @on-primary;
    color: @primary;
}

#clock {
    background-color: @primary;
    color: @on-primary;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
    min-width: 15px;
}

#clock:hover {
    background-color: @surface;
    color: @primary;
}

#tray,
#language,
#bluetooth,
#network,
#wireplumber,
#backlight, 
#hardware {
    background-color: @surface;
    color: @on-surface;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
    min-width: 15px;
}

#network.disabled,
#network.disconnected, 
#bluetooth.disabled,
#bluetooth.off,
#wireplumber.muted {
    color: @secondary
}

#tray menu {
    background-color: @surface;
    color: @on-surface;
    border: 2px solid @outline;
    border-radius: 0px;
}

#language:hover,
#bluetooth:hover,
#network:hover,
#wireplumber:hover,
#backlight:hover, 
#hardware:hover {
    background-color: @on-surface;
    color: @surface;
}

/*#custom-logo,*/
#custom-shutdown,
#custom-reboot,
/*#battery,*/
#cpu,
#memory,
#power-profiles-daemon {
    margin: 0px 8px;
}

#custom-shutdown:hover,
#custom-reboot:hover {
    color: @error;
}

#battery.warning {
    color: @tetriary;
}
#battery.critical {
    color: @error;
}

