@import url("colors/gruvbox-dark.css");

* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    border-radius: 0;
    min-height: 0;
    animation-duration: 3.0s;
}

window#waybar {
    background-color: @background;
    border-bottom: 3px solid @outline;
    color: @on-surface;
    box-shadow: 0 5 8px 0 alpha(@shadow, 0.8);
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background-color: @background;
    color: @on-surface;
    border: 3px solid @outline;
    margin: 5px;
    padding: 2px 2px;
}

#sys,
#custom-swaync {
    background-color: @primary;
    color: @on-primary;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
    min-width: 15px;
}

#sys:hover,
#custom-swaync:hover {
    background-color: @primary-container;
    color: @on-primary-container;
}

#workspaces {
    background-color: @surface;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
}

#workspaces button {
    color: @on-surface;
    padding: 0 2px; 
    margin: 5px 4px;    
}

#workspaces button:hover {
    color: @surface;
    border-radius: 100px;
}

#workspaces button.focused {
    background-color: @primary;
    color: @on-primary;
    padding: 0 2px; 
    margin: 5px 4px;    
    border-radius: 100px;
}

#workspaces button.focused:hover {
    background-color: @primary-container;
    color: @on-primary-container;
}

#mpris {
    background-color: @surface;
    color: @on-surface;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
}

#mpris:hover {
    background-color: @surface-container;
    color: @on-surface-container;
}

#mpris.playing {
    background-color: @surface;
    color: @primary;
}

#mpris.playing:hover {
    background-color: @primary-container;
    color: @on-primary-container;
}

#mpris.paused {
    background-color: @surface;
    color: @secondary;
}

#mpris.paused:hover {
    background-color: @secondary-container;
    color: @on-secondary-container;
}

#clock {
    background-color: @primary;
    color: @on-primary;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
    min-width: 15px;
}

#clock:hover {
    background-color: @primary-container;
    color: @on-primary-container;
}

#tray,
#language,
#bluetooth,
#network,
#wireplumber,
#backlight, 
#hardware {
    background-color: @surface;
    color: @on-surface;
    border-radius: 10px;
    padding: 0 8px;
    margin: 5px 2px;
    min-width: 15px;
}

#language:hover,
#bluetooth:hover,
#network:hover,
#wireplumber:hover,
#backlight:hover, 
#hardware:hover {
    background-color: @surface-container;
    color: @on-surface-container;
}

#network.disabled,
#network.disconnected, 
#bluetooth.disabled,
#bluetooth.off,
#wireplumber.muted {
    color: @secondary;
}

#network.disabled:hover,
#network.disconnected:hover, 
#bluetooth.disabled:hover,
#bluetooth.off:hover,
#wireplumber.muted:hover {
    background-color: @secondary-container;
    color: @on-secondary-container;
}

#tray menu {
    background-color: @surface;
    color: @on-surface;
    border: 3px solid @outline;
    border-radius: 0px;
}

#custom-shutdown {
    margin-left: 14px;
    margin-right: 8px;
}

#power-profiles-daemon {
    margin-left: 8px;
    margin-right: 14px;
}

#custom-reboot,
#cpu,
#memory {
    margin: 0px 8px;
}

#custom-shutdown:hover,
#custom-reboot:hover {
    color: @on-error-container;
}

#battery.warning {
    color: @tetriary;
}

#battery.critical {
    color: @error;
}

