include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "workspaces.kdl"
include "animations.kdl"
include "recent-windows.kdl"
include "rules.kdl"
include "binds.kdl"
include "colors/catppuccin-macchiato-teal.kdl"

spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-at-startup "swaync"
spawn-at-startup "swayidle" "-w"
spawn-at-startup "udiskie --smart-tray"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"

screenshot-path "~/Pictures/Screenshots/screenshot_%Y-%m-%d_%H-%M-%S.png"

prefer-no-csd

environment {
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt6ct"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    CLUTTER_BACKEND "wayland"
    MOZ_ENABLE_WAYLAND "1"
    _JAVA_AWT_WM_NONREPARENTING "1"
}

switch-events {
    lid-close { spawn "swaylock"; }
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}





