layout {
    gaps 10

    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        // The preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // fixed 1920
    }

    // preset-window-heights { }

    default-column-width { proportion 0.5; }
    // `draw-border-with-background`.

    focus-ring {
        // off
        width 3
    }

    border {
        off
        width 2
    }

    shadow {
        on
        softness 20
        spread 8
        offset x=2 y=5
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
